body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #feb070;
  color: #620a04;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 500px;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 60%;
  font-size: 16px;
}

button#add-btn {
  background: #638d15;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

select#filter {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #04541e;
  color: #f3ecec;
  font-weight: bold;
}

ul#task-list {
  list-style: none;
  padding: 0;
}

li.task-item {
  background: rgb(11, 85, 131);
  color: rgb(247, 244, 244);
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.task-buttons button {
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.complete-btn {
  background: #f7f5f5;
}

.delete-btn {
  background: #94dfec;
}